* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(photo_2023-08-06_03-06-22.jpg);
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main img {
  width: 100%;
}

.title {
  color: #9b9bcf;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 29px;
  margin-block: 30px;
}

.what {
  color: #49ff9c;
  font-family: "Gugi", cursive;
  font-size: 80px;
}

.text {
  width: 950px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 43px;
  font-style: normal;
  text-align: center;
  margin-bottom: 100px;
}
span {
  color: #fa9163;
  cursor: pointer;
  transition: text-shadow 1s ease-in-out;
}

span:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media (max-width: 995px) {
  .what {
    font-size: 50px;
    text-align: center;
  }
  .text {
    font-size: 25px;
    width: 90%;
  }
}
